<!DOCTYPE html>
<html>
<head>
    <title>Songs</title>
    <style>
       body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }

    .head_text {
        color: white;
    }

    .card {
            box-shadow: 0 16px 48px #E3E7EB;
            text-align: center;
            color: brown;




}
    </style>



</head>


                <div class="col-lg-4 col-md-6 mb-4">
<div class="card mb-4">
                <div class="card-body">


<footer class="footer">
    <div class="container text-center">
        <hi>&copy;2023 Music Blog. All rights reserved.</hi>
        <ul class="list">
            <li class="list-inline-item"><a href="/policy/">Privacy Policy</a></li>
            <li class="list-inline-item"><a href="/terms_of_use/">Terms of Use</a></li>
            <li class="list-inline-item"><a href="/contact/">Contact Us</a></li>
                    <a href="{% url 'music:music_list' %}">home</a>


        </ul>
    </div>
</footer>
